<div class="relative my-2 w-full">
  <!-- Floating Label -->
 <label class="block mb-2 font-medium text-white text-2xl transition-colors" [ngClass]="[labelFontSize, labelFontFamily]" >
    {{ fieldName }}
  </label>

  <!-- Textarea with rows binding -->
  <textarea
    [rows]="rows"
    [formControl]="fieldControl"
    class="bg-transparent mb-[10px] py-4 pr-4 w-full text-[14px] resize-none custom-scrollbar placeholder-gray-300"
    [ngClass]="[
      'pl-6',
      fieldControl.invalid && fieldControl.dirty ? 'border-b border-red-500 focus:ring-red-300' : 'border-b border-white'
    ]"
    [attr.resize]="rows != 0 ? 'none' : ''"
    [placeholder]="fieldControl.value ? '' : placeholder"
  ></textarea>

  <!-- Error Message -->
  <app-form-error
    *ngIf="fieldControl.invalid"
    [fieldName]="fieldName"
    [control]="fieldControl"
    [isDisplayError]="showError"
  ></app-form-error>
</div>
