
/* For Chrome, Safari, and Opera */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Light gray track background */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: transparent; /* Darker gray draggable part */
  border-radius: 10px;
}

/* Add a hover effect for the thumb */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #37415153;
}
