<div class="bg-black rounded-t-[44px] w-full h-[100%]">
  <div class="flex md:flex-row flex-col justify-between px-[5%] pb-12 h-full overflow-y-auto custom-scroll">
    <div class="justify-start space-y-16 p-8 pt-32 w-full">
      <h5 class="font-montserratBold text-white text-6xl">
        Contact
      </h5>
      <form class="w-[100%] md:w-[80%] font-montserrat text-white text-2xl">
        <div class="space-y-8 sm:space-y-16">
          <!-- Name Field -->
          <div>
            <app-text-field
              [fieldControl]="nameControl"
              [placeholder]="'Enter Your Name Here'"
              [fieldName]="'Name'"
              fieldType="text"
              [labelFontSize]="'1rem'"
            ></app-text-field>
          </div>
          <!-- Email Field -->
          <div>
            <app-text-field
              [fieldControl]="emailControl"
              [placeholder]="'Enter Your Email Here'"
              [fieldName]="'Email'"
              fieldType="email"
              [labelFontSize]="'1rem'"
            ></app-text-field>
          </div>
          <!-- Message Field -->
          <div>
            <app-text-area-field
                [rows]="1"
                [placeholder]="'Enter Your Message Here'"
                [fieldName]="'Message'"
                [fieldControl]="messageControl"
                [labelFontSize]="'1rem'"
                (keydown.enter)="$event.preventDefault(); ">
            </app-text-area-field>
          </div>
        </div>
        <button
          type="button"
          (click)="submit()"
          title="Send Message"
          class="bg-white p-4 rounded-md w-full font-inter font-black text-black text-2xl"
        >
          Send Message
        </button>
      </form>
    </div>
    <div class="justify-end space-y-8 w-full">
      <div class="flex flex-col justify-between items-center space-y-8 lg:mx-32 lg:px-16">
        <div class="m-5 p-5 text-center qr-wrapper">
          <h3 class="font-montserrat font-semibold text-white text-2xl m">Click to Chat on WhatsApp</h3>
          <qrcode
            [qrdata]="whatsappUrl"
            [width]="250"
            [errorCorrectionLevel]="'M'"
            [colorDark]="'#000000'"
            [colorLight]="'#ffffff'"
            [elementType]="'canvas'"
            (click)="navigateToExternalUrl(whatsappUrl)"
            (qrCodeURL)="onChangeURL($event)">
          </qrcode>
          <!-- <div class="bg-white my-8 p-4 rounded-full">
            <a
              [href]="qrCodeDownloadLink"
              download="whatsapp-qr-code.png"
              class="font-inter font-black text-black text-2xl"
            >
              Download QR Code
            </a>
          </div> -->
        </div>
        <div class="flex flex-col items-center p-8 border rounded-[44px] w-full text-white text-2xl">
          <h5
            title="Talk To Us"
            class="top-[-60px] z-10 relative bg-black p-4 border border-white rounded-2xl w-fit font-montserratBold text-white text-5xl md:text-6xl text-center"
          >
            Talk To Us
          </h5>
          <div class="flex flex-col space-y-4 w-full">
            <div class="flex gap-x-2">
              <svg-icon src="/assets/svg/email.svg"></svg-icon>
              <p class="font-verdana text-xl md:text-2xl">
                mutawir.info&#64;gmail.com
              </p>
            </div>
            <div class="flex gap-x-4">
              <div class="flex justify-center items-center">
                <svg-icon src="/assets/svg/phone.svg"></svg-icon>
              </div>
              <div class="flex flex-col gap-y-1">
                <p class="font-verdana text-xl md:text-2xl">
                  +92 321 256 1754
                </p>
                <p class="font-verdana text-xl md:text-2xl">
                  +92 327 601 2461
                </p>
              </div>
            </div>
          </div>
          <div class="flex justify-end gap-x-4 pt-8 pr-8 w-full">
            <ng-container *ngFor="let item of links">
              <svg-icon
                [src]="item.icon"
                [title]="item.title"
                (click)="navigateToExternalUrl(item.route)"
                class="cursor-pointer">
              </svg-icon>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


