.app-loader {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: lightgray;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
