.font-label {
  margin-top: 2px;
  font-family: Source Sans Pro, serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.font-text {
  font-family: Source Sans Pro, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.form-control {
  border-width: 1px;
  border-radius: 8px;
  padding: 14px 10px 10px 10px;
}
