<div class="container mx-auto px-6 sm:px-8 md:px-12 lg:px-16 py-16 md:py-24">
<div class="flex flex-col lg:flex-row items-center">
    <!-- Left Content -->
    <div class="lg:w-1/2 mb-12 lg:mb-0 lg:pr-12">
      <h1 class="uppercase font-gilroy-medium text-4xl md:text-5xl lg:text-6xl text-black mb-8">
        Getting better together
      </h1>
      <p class="font-gilroy-regular text-base md:text-lg text-black mb-8">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      </p>
<!--      <button class="font-gilroy-medium text-white bg-black rounded-full px-8 py-3 text-base md:text-lg">-->
<!--        Join a Group-->
<!--      </button>-->
    </div>

    <!-- Right Content - Image Grid -->
    <div class="lg:w-1/2 relative">
      <!-- Background elements -->

      <img src="/assets/img/people.png" alt="Product 2" class="w-full h-full object-contain">

    </div>
  </div>
</div>
