.box {
  position: relative;
  width: 1440px;
  height: 117px;
}

.box .navigation {
  position: fixed;
  width: 1440px;
  height: 117px;
  top: 0;
  left: 0;
}

.box .bg {
  position: absolute;
  width: 1440px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
}

.box .overlap {
  position: absolute;
  width: 1440px;
  height: 77px;
  top: 40px;
  left: 0;
  background-color: #ffffff;
}

.box .text {
  position: absolute;
  width: 566px;
  height: 16px;
  top: 31px;
  left: 438px;
}

.box .our-products {
  position: absolute;
  width: 564px;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Gilroy-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .cart-wishlist-user {
  position: absolute;
  width: 68px;
  height: 18px;
  top: 30px;
  left: 1319px;
}

.box .text-wrapper {
  position: absolute;
  width: 66px;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Font Awesome 6 Pro-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .search {
  position: absolute;
  width: 173px;
  height: 39px;
  top: 19px;
  left: 1130px;
}

.box .overlap-group {
  position: relative;
  width: 169px;
  height: 39px;
  background-image: url('/assets/img/logo.svg');
  background-size: 100% 100%;
}

.box .div {
  position: absolute;
  width: 52px;
  height: 16px;
  top: 13px;
  left: 37px;
  font-family: "Gilroy-Regular-☞", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 11px;
  left: 14px;
  font-family: "Font Awesome 6 Pro-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .logo {
  position: absolute;
  width: 77px;
  height: 46px;
  top: 16px;
  left: 56px;
}

.box .group {
  position: absolute;
  width: 76px;
  height: 45px;
  top: 0;
  left: 0;
}
/* Original CSS code should be injected here */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.box .text {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.box .our-products {
  text-decoration: none;
  color: inherit;
}

.box .cart-wishlist-user {
  display: flex;
  justify-content: space-between;
}

.box .text-wrapper {
  margin: 0 5px;
}

.box .search .overlap-group {
  display: flex;
  align-items: center;
}

.box .div {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

.box .text-wrapper-2 {
  border: none;
  background: transparent;
  cursor: pointer;
}

.box .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.box .group {
  max-width: 100%;
  height: auto;
}
