
  <div class="flex justify-center items-center col-span-5">
    <div class="flex justify-center items-center bg-indigo-900 bg-opacity-50 w-screen h-screen">
      <div class="bg-blue-100 shadow-2xl shadow-slate-700 p-8 rounded-3xl text-center">
        <h1 class="mb-4 font-inter font-bold text-gray-800 text-3xl">Page Not Found</h1>
        <p class="mb-6 font-work text-gray-600">The page you're looking for doesn't exist.</p>

        <button
          class="bg-[#033A52] hover:bg-sky-900 px-6 py-2 rounded-2xl font-montserrat text-white"
          (click)="navigate()"
        >
          {{ isLoggedIn ? 'Go back To Chatting' : 'Go to Login' }}
        </button>
      </div>
    </div>

  </div>

