
/* For Chrome, Safari, and Opera */
.custom-scroll::-webkit-scrollbar {
  width: 8px; /* Set the width of the vertical scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Light gray track background */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #374151bb; /* Darker gray draggable part */
  border-radius: 10px;
}

/* Add a hover effect for the thumb */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
