<div class="bg-black rounded-t-[44px] w-full h-[100%]">
  <div class="flex justify-center items-center h-[20%]">
    <h4 class="pb-6 border-white border-b font-verdana text-white text-5xl sm:text-7xl decoration-1 transition-all duration-[1250ms]">
      Our Services
    </h4>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-[10%] h-[80%] overflow-y-auto custom-scroll">
    <ng-container class="flex justify-between" *ngFor="let item of services ">
      <div class="flex flex-col justify-between items-center space-y-4 py-8" [routerLink]="item.link">
        <img [srcset]=item.img alt="item.label" class="peer hover:shadow-[0_10px_100px_2px] hover:shadow-slate-600 rounded-[40px] sm:rounded-[50px] w-[70%] object-cover aspect-[4/3] transition-all">
        <p class="font-verdana text-white text-2xl text-center peer-hover:scale-105 transition-transform duration-300">
          {{item.label}}
        </p>
      </div>
    </ng-container>
  </div>
</div>
