.date-picker-container {
  display: flex;
  align-items: center;
}


.date-display {
  margin-left: 8px;
  background-color: #e8f0fe;
  padding: 4px 8px;
  border-radius: 4px;
  color: #3c4043;
  font-weight: 500;
}

.ngx-daterangepicker-action {
  cursor: pointer;
}

.dropdown-menu.show {
  display: block;
  width: max-content !important;
}