<div class="bg-[url('/assets/img/home-page-bg-1.jpg')] bg-black/35 bg-blend-multiply bg-cover bg-center rounded-[44px] w-full h-screen overflow-hidden overscroll-none"
>
  <div class="@container flex items-center sm:items-end px-10 sm:px-20 h-[60%]">
    <p class="font-verdana font-medium text-[clamp(2rem,10vw,9.5rem)] text-white leading-none">
      Welcome to
      <br>
      Mutawir
    </p>
  </div>
  <div class="flex justify-center items-center h-[30%]">
    <button
      title="About Us"
      type="button"
      (click)="about()"
      class="bg-black/25 hover:bg-white/25 p-3 hover:p-5 border border-white rounded-sm hover:rounded-lg font-verdana font-extralight hover:font-bold text-white text-3xl transition-all"
    >
        About Us
    </button>
  </div>
</div>
