<div class="bg-[url('/assets/img/home-page-bg.png')] bg-cover bg-center rounded-[44px] w-full h-screen overscroll-none">
  <div class="flex items-center sm:items-end px-10 sm:px-20 h-[60%]">
    <p class="font-verdana font-medium text-white lg:text-[120px] text-6xl sm:text-7xl md:text-9xl leading-none">Welcome to <br> Mutawir</p>
  </div>
  <div class="flex justify-center items-center h-[30%]">
    <button type="button" (click)="about()" title="About Us" class="bg-black/25 hover:bg-white/25 p-3 hover:p-5 border border-white rounded-sm hover:rounded-lg font-verdana font-extralight hover:font-bold text-white text-3xl transition-all">
      About Us
    </button>
  </div>
</div>
